<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Jumbotron Template · Bootstrap</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/custom.css" />
</head>

<body>
  <%include ./partials/navbar %>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="container">
    <%-body-%>
  </div>
  <!-- /container -->
  <%include ./partials/footer%>
  <script src="/js/jquery-2.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>